<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="APPServer-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="logviewer-tests" parallel="false">
        <!--todo-->
        <packages>
            <package name="org.wso2.appserver.integration.tests.logviewer"></package>
        </packages>
    </test>

    <test name="webapp-tests" preserve-order="true" parallel="false">
       <classes>
           <class name="org.wso2.appserver.integration.tests.webapp.mgt.WebApplicationWithVersionAndContextXMLTestCase" />
       </classes>
        <!--<packages>-->
            <!--<package name="org.wso2.appserver.integration.tests.webapp.websocket"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.webappsampleservice"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.webapp.classloading"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.webapp.concurrency"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.webapp.faultywebapp"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.webapp.mgt"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.webapp.spring"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.webapp.virtualhost"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.webapp.jsp"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.webapp.async"/>-->

            <!--&lt;!&ndash; ToDo: Test Case fails &ndash;&gt;-->
            <!--&lt;!&ndash; <package name="org.wso2.appserver.integration.tests.webapp.hibernate"/> &ndash;&gt;-->
        <!--</packages>-->
    </test>


</suite>